<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Register a device</title>
  </head>
  <body>
    <div>
      <form method='post' action='/do_register'>
        <label for='dvid'>Device ID</label>
        <input type='number' name='dvid'><br>
        <label for='pass'>Device Password</label>
        <input type='password' name='pass'><br>
        <input type='submit' value='Register'>
      </form>
    </div>
  </body>
</html>
