<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Register a device</title>
  </head>
  <body>
    <div>
      <form method='post' action='/do_register'>
        <label for='dvname'>Device Name</label>
        <input type='text' name='dvname'><br>
        <label for='dvid'>Device ID</label>
        <input type='number' name='dvid'><br>
        <input type='submit' name='register' value='Register'>
      </form>
    </div>
  </body>
</html>
