<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Sign In</title>
  </head>
  <body>
    <div>
      <form method='post' action='/do_signin'>
        <label for='urname'>Username</label>
        <input type='text' name='urname'><br>
        <label for='pass'>Password</label>
        <input type='text' name='pass'><br>
        <input type='submit' value='Sign In'>
      </form>
    </div>
    <a href='/signup'>Sign Up</a>
  </body>
</html>
