{
  "frontweb": {
    "port": 8080,
    "session": {
      "name": "soviet.revolution.sid",
      "secret": "mArxLenIN"
    }
  },
  "db": {
    "host": "localhost",
    "user": "root",
    "password": "pAsSwoRd",
    "database": "soviet"
  }
}
