{
  "frontweb": {
    "port": 8080,
    "proxy": 1,
    "prefix": "",
    "session": {
      "name": "soviet.revolution.sid",
      "secret": "mArxLenIN"
    }
  },
  "db": {
    "host": "localhost",
    "user": "soviet",
    "password": "soviet",
    "database": "soviet"
  }
}
